In [4]:
joining_age=25
while joining_age<=60:
  print(joining_age)
  joining_age=joining_age+1
else:
  print("sorry its time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
sorry its time to retire

In [5]:
total=1000
while total!=0:
  print(total)
  total=total-100
else:
  print("Your bank account is empty")

1000
900
800
700
600
500
400
300
200
100
Your bank account is empty

In [9]:
lst=["Krish",1,2,3,4,"Banana"]
type(lst)

list

In [10]:
lst[0]

'Krish'

In [11]:
lst[4]

4

In [12]:
lst

['Krish', 1, 2, 3, 4, 'Banana']

In [13]:
for i in lst:
  print(i)

Krish
1
2
3
4
Banana

In [18]:
fruits=["banana","apple","grapes","mango","cherry"]
for i in fruits:
  print(i,end=' ')
  if i=="mango":
    print(i,end=' ')

banana apple grapes mango mango cherry

In [23]:
fruit='Mango'
for i in fruit:
  print(i,end='  ')

M  a  n  g  o

In [20]:
fruit[0]

'M'

In [25]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [28]:
n=7
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end="")
  print("\r")

*
**
***
****
*****
******
*******

In [32]:
fruits=["banana","apple","grapes","mango","cherry"]
for i in fruits:
  if i=="apple":
    print("fruit is apple")
    pass
  print(i)

banana
fruit is apple
apple
grapes
mango
cherry

  *  *  **  *  *  *

  *  ****  *  *

  ******  *

*******